.subirtexto {
    position: absolute;
    top: 9%;
    left: 40%;
    transform: translate(-9%, -40%);
    font-size: 48px;
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    animation-name: charger-color;
    animation-duration: 3s;
    animation-timing-function: linear;
    

}

@keyframes charger-color {
    0% {
        
        opacity: 0;
    }
    100% {
        
        opacity: 1;
    }

}

@keyframes charger-color2 {
    0% {
        
        
        opacity: 0;
    }
    100% {
        
        
        opacity: 1;
       
    }




}
.texto1 {
    position: absolute;
    font-size: 48px;
    left: 41%;
    top: 15%;
    transform: translate(-15%, -41%);
    background-color: rgb(255, 255, 255);
    animation-name: charger-color2;
    animation-duration: 5s;
    animation-timing-function: linear;
    
    
    color: rgb(0, 0, 0);
    
}

.roblox {
    position: absolute;
    left: 46%;
    top: 43%;
    transform: translate(-43%, -46%);
    width: 300px;
    height: 250px;
    animation: charger-color3 7s linear;


}

@keyframes charger-color3 {
    0% {
        
       
        opacity: 0;
    }
    100% {
         
        
        opacity: 1;
    }
}

.texto2 {
    color: red;
    position: absolute;
    font-size: 48px;
    left: 48%;
    top: 60%;
    transform: translate(-60%, -48%);
    animation: charger-color4 10s linear;
}

.sticker {

    width: 350px;
    height: 250px;
    position: absolute;
    font-size: 48px;
    left: 55%;
    top: 90%;
    transform: translate(-90%, -55%);
    animation: charger-color5 12s linear;

}

@keyframes charger-color4 {
    0% {
        
       
        opacity: 0;
    }
    100% {
      
        opacity: 1;
    }
}
@keyframes charger-color5 {
    0% {
        

        opacity: 0;
    }
    100% {

        
        opacity: 1;
    }
}